<md-sidenav-container class="m2app-dark">
  <md-toolbar color="primary">
    <strong>PiGarage Opener</strong>
    <span class="app-toolbar-filler"></span>
    <md-chip-list>
      <span [hidden]="!isOpen"><md-chip color="accent" class="toolbar-accent-background status-open"><md-icon>lock_open</md-icon> <div class="chip-with-icon-text">OPEN</div></md-chip></span>
      <span [hidden]="isOpen"><md-chip color="accent" class="toolbar-accent-background status-closed"><md-icon>lock_outline</md-icon> <div class="chip-with-icon-text">CLOSED</div></md-chip></span>
    </md-chip-list>
  </md-toolbar>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>